<div class="swiper-container">
    <div class="swiper-wrapper">
        {{#each this}}
        <div class="swiper-slide">
            <img class="photo" loading="lazy" src="{{webformatURL}}" data-src="{{largeImageURL}}" alt="" />
        </div>
        {{/each}}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>