{{#each this}}
<li>
    <div class="photo-card">
        <a data-fancybox="gall" href="{{largeImageURL}}">
            <img class="photo" loading="lazy" src="{{webformatURL}}" alt="img" />
        </a>

    </div>
</li>
{{/each}}