.card {
  @extend %section-style;
  padding-top: 30px;
  &__list {
    @extend %list-throw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    height: 100% !important;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
    background-color: #f5f6fb;
    position: relative;

    @media screen and (min-width: 320px) {
      flex-basis: 100%;
    }
    @media screen and (min-width: 768px) {
      flex-basis: 50%;
    }
    @media screen and (min-width: 1280px) {
      flex-basis: 33.333%;
    }

    &:hover {
      .card__img-wraper::after {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        );
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        height: 275px;
        display: block;
        content: '';

        &.check {
          fill: $main-color;
        }
      }
    }

    @media screen and (min-width: 768px) {
      // height: 350px;
    }
  }

  &__text {
    padding: 20px;
    pointer-events: none;
  }
  &__img-wraper {
    position: relative;
    height: 275px;
    pointer-events: none;
  }

  &__svg {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 14px;
    height: 14px;
    z-index: 1;
    transition: $animation-timing;
    fill: $white-color;
    &:hover {
      fill: $main-color;
    }
  }
}

.isHidden {
  visibility: hidden;
}

.container {
  @extend %container-style;
}

.card__img {
  @extend %img-style;
  height: 100%;
  pointer-events: none;
}

.card__link {
  @extend %link-throw;
  padding: 0;
}

.double-price {
  @extend %text-throw;
  display: flex;
  align-items: center;
  text-align: start;
  height: 16px;
}

.card__sale {
  @extend %text-throw;
  color: $main-color;
  margin-left: 6px;
}
