.calls-favourites {
  padding-top: 15px;
}

.js-custom-slider-container {
  @media screen and (min-width: 1280px) {
    overflow: hidden;
  }
}
.js-custom-slider-container__favourites {
  @media screen and (min-width: 1280px) {
    overflow: hidden;
  }
}
.myCalls__item,
.myFavourites__item {
  // @media screen and (min-width: 1280px) {
  //   &:not(:last-child) {
  //     margin-right: 15px;
  //   }
  // }
  // background-color: #f5f6fb;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);
  background-color: #f5f6fb;
  &:hover,
  &:focus {
    .calls-favourites__img-container::before {
      opacity: 1;
      pointer-events: none;
    }
  }
}
.myFavourites__item {
  position: relative;
}
.myCalls__list {
  // @extend %list-style;
  list-style: none;

  transition: $animation-timing;
  margin-bottom: 40px;

  @media screen and (min-width: 320px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
  & img {
    @extend %img-style;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  & p {
    @extend %text-throw;
    pointer-events: none;
  }
}
.favourites__list {
  // @extend %list-style;
  list-style: none;
  transition: $animation-timing;
  // @media screen and (min-width: 1280px) {
  //   grid-template-columns: 1fr 1fr 1fr 1fr;
  // }
  @media screen and (min-width: 320px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
  & img {
    @extend %img-style;
    width: 100%;
    height: 100%;
  }
  & p {
    @extend %text-throw;
  }
}
.calls-favourites {
  @extend %section-style;
  // display: none;
}
.calls-favourites__container {
  @extend %container-style;
}
.is-hidden {
  display: none;
}
.pointer-none {
  pointer-events: none;
}
.calls-favourites__img-container {
  position: relative;
  height: 275px;
  pointer-events: none;
  &::before {
    content: '';
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  &:hover,
  &:focus {
    &::before {
      opacity: 1;
      pointer-events: none;
    }
  }
  @media screen and (max-width: 767px) {
    height: 290px;
  }
}
.calls-favourites__text-container {
  padding: 20px;
  // pointer-events: none;
  & p:first-child {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
    color: $inactive-color;
  }
  & p:last-child {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: $bold-text-color;
  }
  & p:not(:last-child) {
    margin-bottom: 4px;
  }
}
.calls-favourites__heart__icon {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 18px;
  right: 18px;
  border-radius: 20px;
  transition: $animation-timing;
  fill: $white-color;
  &:hover {
    fill: $main-color;
  }
}
.calls-favourites__orange__heart__icon {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 18px;
  right: 18px;
  border-radius: 20px;
  transition: $animation-timing;
  fill: $main-color;
  z-index: 3000;
  &:hover {
    fill: $white-color;
  }
}
.calls__description__container,
.favourites__description__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;
}
.js-btn-prev {
  width: 30px;
  height: 30px;
  border: 1px solid $inactive-color;
  border-radius: 50%;
  outline: none;
  transition: $animation-timing;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $main-color;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }
}
.js-btn-next {
  border: 1px solid $inactive-color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: none;
  transition: $animation-timing;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: $main-color;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }
}
.js-btn-prev__favourites {
  width: 30px;
  height: 30px;
  border: 1px solid $inactive-color;
  border-radius: 50%;
  transition: $animation-timing;
  outline: none;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: $main-color;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }
}
.js-btn-next__favourites {
  border: 1px solid $inactive-color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: $animation-timing;
  outline: none;
  background-color: transparent;
  &:hover,
  &:focus {
    background-color: $main-color;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }
}
.calls__title,
.favourites__title {
  @extend %text-throw;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: $bold-text-color;
}
.js-btn-prev,
.js-btn-next,
.js-btn-prev__favourites,
.js-btn-next__favourites {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}
