.is-hidden {
  display: none;
}
// #slider {
//   height: 100vh;
//   background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.8)),
//     url('https://wikiway.com/upload/resize_cache/hl-photo/492/1024_800_1/kreshatik_9.JPG');
//   background-repeat: no-repeat;
//   background-size: 130%;
//   background-attachment: fixed;
//   background-position: top;
// }

//=======================================================================================================

html {
  scroll-behavior: smooth;
}
.slider-container {
  @extend %container-style;
}
.gallery {
  @extend %list-style;
}

.btn {
  @extend %search-button;
}

.div-loader {
  @extend %section-style;
  text-align: center;
  padding-bottom: 60px;
}

.photo {
  @extend %img-style;
  @media screen and (min-width: 320px) {
    height: 293px;
  }
  @media screen and (min-width: 768px) {
    height: 236px;
  }
  @media screen and (min-width: 1280px) {
    height: 266px;
  }
}
