@import '../utils/utils';
@import './registration';
@import './header';
@import './cardModal';
@import './add-modal';
@import './edit-modal';
@import './pagination';
@import './category-slider';
@import './search-form';
@import './favourites-and-mycalls';
@import './cards.scss';
