<div class="maps">
  <ul class="maps-buttons">
    <li><button data-layer="remove">Видалити шари</button></li>
    <li>
      <button data-layer="ftemperatures">Температурний прогноз</button>
    </li>
    <li><button data-layer="fhumidity">Прогноз вологості</button></li>
    </ul>
  <div id="map" class="map"></div>
  <a href="https://www.windy.com/" target="blank" class="more-maps-link"
    >Більше погодних карт ви можете зайти тут!</a
  >
</div>
