<div class="edit-modal__overlay">
  <div class="edit-modal">
    <div class="edit-modal__content">
      <button type="button" class="edit-modal__close-btn" data-close="true">
        <svg class="edit-modal__close-icon">
          <use href="../images/sprite/symbol-defs.svg#icon-close-24px-1"></use>
        </svg>
      </button>

      <h2 class="edit-form__title">Редагувати оголошення</h2>

      <form action="#" class="edit-form js-edit-form">
        <div class="form-items-wrapper">
          <div class="edit-form__item">
            <label class="edit-form__label" for="edit-form-name"
              >Назва товару</label
            >
            <input
              value=""
              id="edit-form-name"
              type="text"
              class="edit-form__name _name _edit input"
              disabled
            />
          </div>

          <div class="edit-form__item">
            <label class="edit-form__label">Фото</label>
            <div class="input-wrapper">
              <ul class="image-preview__edit _req">
                <li class="image-preview__item">
                  <div class="choose-image">
                    <input
                      value=""
                      accept=".jpg"
                      type="file"
                      class="choose-image__input edit-image _edit"
                    />
                    <div class="image-button">+</div>
                  </div>
                </li>
              </ul>
              <div class="add-form__error-message">
                Потрібно добавити від 1-го до 5-ти фото
              </div>
            </div>
          </div>

          <div class="edit-form__item">
            <label class="edit-form__label" for="edit-form-description"
              >Опис товару</label
            >
            <textarea
              name="description"
              id="edit-form-description"
              class="edit-form__description _description input _edit"
              disabled
            ></textarea>
          </div>

          <div class="edit-form__item">
            <div class="edit-form__label">Категорія товару</div>
            <div class="select-wrapper">
              <select
                name="product-category"
                class="edit-form__select _req _category _edit input"
                disabled
              >
                <option
                  value="category"
                  class="select-option select-option-first"
                  selected
                >
                  Категорія
                </option>
                <option value="property" class="select-option">
                  Нерухомість
                </option>
                <option value="transport" class="select-option">
                  Транспорт
                </option>
                <option value="work" class="select-option">Робота</option>
                <option value="electronics" class="select-option">
                  Електроніка
                </option>
                <option value="business-and-services" class="select-option">
                  Бізнес та послуги
                </option>
                <option value="recreation-and-sports" class="select-option">
                  Відпочинок та спорт
                </option>
                <option value="for-free" class="select-option">
                  Віддам безкоштовно
                </option>
                <option value="exchange" class="select-option">Обмін</option>
              </select>
              <div class="edit-form__error-message">Виберіть категорію</div>
            </div>
          </div>

          <div class="edit-form__item">
            <label class="edit-form__label" for="edit-form-price">Ціна</label>
            <div class="input-wrapper">
              <input
                value=""
                type="text"
                id="edit-form-price"
                name="productPrice"
                data-source="price"
                class="edit-form__product-price _req _price _edit input"
                autocomplete="off"
                minlength="1"
                maxlength="16"
                placeholder="0.00 грн"
              />
              <div class="edit-form__error-message">
                Введіть коректну ціну товару
              </div>
              <div class="edit-form__error-message _error-price">
                Ціна для цїєї категорії має бути 0
              </div>
            </div>
          </div>

          <div class="edit-form__item">
            <label class="edit-form__label" for="edit-form-phone"
              >Телефон</label
            >
            <input
              value=""
              id="edit-form-phone"
              type="tel"
              name="productPhone"
              data-source="phone"
              class="edit-form__product-telephone-number _edit _phone input"
              placeholder="+38(0--) --- -- --"
              disabled
            />
          </div>
          <div class="edit-form__item">
            <a href="#" class="delete-advert">
              <svg class="delete-icon">
                <use href="../images/sprite/symbol-defs.svg#icon-file-1"></use>
              </svg>
              Видалити оголошення</a
            >
          </div>
        </div>
        <div class="form-button__wrapper">
          <button type="submit" class="edit-product-btn">Додати</button
          ><button type="button" class="cancel-product-btn">Відміна</button>
        </div>
      </form>
    </div>
  </div>
</div>
