<div class="header-container">      
<img class="header-icon" src="../images/header/icloud.svg" alt="облако">
<div class="header-search__container">
    <input class="header-input" type="text" placeholder="Введите название города">
    <button class="header-button">Искать</button>
</div>
<nav class="header-nav">
    <a href="/" class="header-nav__link">Домашняя</a>
    <a href="/forecast" class="header-nav__link">Прогноз погоды</a>
    <a href="/news" class="header-nav__link">Новости</a>
    <a href="/photo" class="header-nav__link">Фото</a>
    <a href="/maps" class="header-nav__link">Карты</a>    
    <img class="header-nav__swipe" src="../images/header/sitepoint.svg" alt="Стрелки прокрутки">
</nav>
</div>
