<div class="header-container">      
<img class="header-icon" src="../images/header/icloud.svg" alt="">
<div class="header-search__container">
    <input class="header-input" type="text" placeholder="Введіть назву міста">
    <button class="header-button">Шукати</button>
</div>
<nav class="header-nav">
    <a href="/" class="header-nav__link">Домашня</a>
    <a href="/forecast" class="header-nav__link">Прогноз погоди</a>
    <a href="/news" class="header-nav__link">Новини</a>
    <a href="/photo" class="header-nav__link">Фото</a>
    <a href="/maps" class="header-nav__link">Карти</a>    
    <img class="header-nav__swipe" src="../images/header/sitepoint.svg" alt="Стрілки прокрутки">
</nav>
</div>
